@media screen and (max-width: 991px) {

    /* GLOBAL */

    .bg3d::before {
        background-image: unset;
    }

    .resshow{
        display: block !important;
    }

    .hiddenres{
        display: none;
    }

    /* END GLOBAL */

    /* HEADER */
    .containerHeader{
        width: 100%;
    }

    /* END HEADER */

    /* UNDERHEADER */
    .underheaderredlogo{
        display: block;
    }

    .divunderheader {
        padding: 0;
        margin-top: 130px;
    }

    /* END UNDERHEADER */

    /* TOPGAMES */

    .hiddenTG{
        display: none;
    }

    .lefttopgames12{
        width: 240px;
        float: left;
    }

    .rescontrolTG{
        padding-right: 0;
        padding-left: 0;
    }

    .headerTopGame {
        flex-wrap: wrap;
        padding-right: 0;
        padding-left: 0;
        
    }

    .headerTopGame > div:first-child{
        display: flex;
        justify-content: center;
    }

    .topgamestitle {
        border-right: 3px solid;
        width: auto;
        float: left;
        padding-right: 1rem;
    }

    .resulTG{
        border-bottom: 1px solid rgba(255, 255, 255, .6);
        border-top: 1px solid rgba(255, 255, 255, .6);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 1.5rem;

    }

    .resulTG ul{
        padding-left: 0;
        margin-bottom: 0;
    }

    li.headerTopGames > a {
        font-size: 12.5px;
    }
        
    .resTGbottommain{
        display: block;
        margin-top: 20px;
    }

    /* END TOPGAMES */

    /* RED AND BLUE LOGO */

    .rescontrollogored{
        display: none;
    }

    /* END RED AND BLUE LOGO */

    /* JACKPOT */

    .mainJP{
        margin-top: 50px;
    }

    .mainJP .container{
        padding-right: 0;
        padding-left: 0;
    }

    .jackpotheartshadow {
        left: 29.4%;
    }

    .resjPheader{
        border-top: 1px solid rgba(255, 255, 255, .6);
        border-bottom: 1px solid rgba(255, 255, 255, .6);
        padding: 12px 0;
    }

    li.headerjackpotli > a {

        font-size: 12px;
    }

    .childulJP{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
    }

    .imageJclass{
        max-width: 50%;
    }

    .rowcontroler .row{
        display: block ;
        margin: auto 0;
    }

    /* END JACKPOT */


    /* WINNER */

    .Winners {
        background-size: 118% 100%;
        background-position: -9vw;
    }

    .resrightmiddleW{
        display: none;
    }

    .winheaderli {
        font-size: 10.5px;
    }
    .winheaderactive {
        font-size: 15px;
    }

    .plres{
        padding-left: 0;
    }

    .colorwinner {
        font-size: 10.7px;
    }

    .pricewinner1 {
        font-size: 1.5em;
    }

    /* END WINNER */

    /* REGISTE ON HOME */

    .passorHR {
        width: 45%;
    }

    /* END REGISTE ON HOME */


    /* FOOTER */

    .footerbg .container{
        padding-right: 0;
        padding-left: 0;
    }

    .rightfooter{
        display: none;
    }

    .leftfooter {
        height: 100vw;
        left: 0;
        bottom: -5.4%;
        transform: rotate(-90deg);
        right: 0;
    }

    .footersocialmedia {
        margin-bottom: 30vw;
    }

    /* END FOOTER */


}