
@import "font.css";

.margintopminus{
    margin-top: -.7rem;
}

/* EDIT BOOTSTRAP */

.resshow{
    display: none !important
}



/* END EDIT BOOTSTRAP */


/* UNDERHEADER */

.imgUnderHeader{
    width: 100%;
    opacity: .1;
    position: relative;
    z-index: 0;
    margin-top: -50vw;
}

.divunderheader{
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 110px;
}

.underheaderredlogo{
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
}

.itemUnderheader{
    position: relative;
    overflow: hidden;
}

.itemUnderheader img{
    width: auto;
    position: relative;
    z-index: 1;
    max-width: 100%;
}

.itemUnderheader::before{
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #e0034e;
    display: block;
    position: absolute;
    transition: all .4s ease-in-out;
    z-index: 0;
    transform: translateX(100%);
}

.itemUnderheader:hover::before{
    transform: translateX(0%);
}



/* END UNDERHEADER */

/* TOP GAMES  */

.lefttopgamesli{
    font-family: 'Montserrat-Light';
}

.lefttopgames{
    width: 100%;
    height: 170px;
    transition: all .3s ease-in-out;
    position: relative;
    /* margin-bottom: 10px; */
}

.lefttopgames:hover{
    
    margin-top: -10px;
}

.lefttopgames:hover{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rightTopGames{
    width: 100%;
    height: 100%;
}

.topgamestitle{
    font-family: 'Rajdhani-Bold';
    border-left: 3px solid #fff;
    border-radius: 1px;
    color: #fff;
    position: relative;
    font-size: 20px;
}

.topgamestitle ::before{
    width: 10px ;
    height: 10px;
    background-color: #fff;
}

.topgamesHblur{
    width: 13px;
    height: 80%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -0.4rem;
    filter: blur(13px);
}

li.headerTopGames > a{
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat-Light';
    transition: all .3s ease-in-out;
}

li.activetopG > a{
    top: -5px;
    position: relative;
    border-bottom: 1px solid #fff;
}

.bigTGimage{
    overflow: hidden;
    position: relative;
}
/*
.bigTGimage::before{
    background-color: rgba(255, 255, 255, 0.25);
    bottom: -10px;
    content: '';
    height: 200px;
    left: -40px;
    position: absolute;
    transform: rotate(30deg);
    -webkit-transform: rotate(15deg);
    width: 110px;
    }*/

.resTGbottommain{
    display: none;
}

/* END TOP GAMES */

/* JACKPOT */
.mainJP{
    margin-top: -20px;
}

.jackpotheartshadow{
    position: absolute;
    left: 41.3%;
}

div.jackpottitle{
    color: #fff;
    font-family: 'Montserrat-Bold';
    text-shadow: 0 0 30px #fff;
    font-size: 30px;
    margin: 15px auto;
}

li.headerjackpotli{
    transition: all .5s ease-in-out;
}

li.headerjackpotli > a{
    color: #fff;
    font-family: 'Montserrat-Light';
    font-size: 14px;
    transition: all .3s ease-in-out;
}

li.headerjackpotli:hover > a{
    top: -5px;
    position: relative;
    border-bottom: 1px solid #fff;
}

li.activetJack > a{
    top: -5px;
    position: relative;
    border-bottom: 1px solid #fff;
}
.allgamesjacjpot{
    background-image: url("../public/image/btnAllGames.png");
    background-size: 100%;
    color: #fff;
    box-shadow: 0 0 10px 0px #700ece;
    border-radius: 16px;
}

.allgamesjacjpot:hover{
    color: #fff;
}

.imageJclass:hover .hoverplaynow{
    opacity: 1;
}

.hoverplaynow{
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right:15px;
    opacity: 0;
    transition: all .3s ease-in-out;
    background-color: rgba(23, 25, 65,.9);
}

.playnowjh{
    color: rgba(255,255,255,.8);
    font-family: 'Montserrat-Bold';
    cursor: pointer;
    border: 1px solid rgba(255,255,255,.8);
    padding: 11px 22px;
}

.playnowjh1{
    color: rgba(255,255,255,.9);
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    padding: 11px 22px;
}

/* END JACKPOT */

/* WINNERS */

.Winners{
    background-image: url("../public/image/Group33022.png");
    min-height: 620px;
    background-size: 100% 100%;
}

.winnerheader{
    margin-top: 150px;
}

.winheaderli{
    font-family: 'Montserrat-Regular';
    cursor: pointer;
    color: rgba(255, 255, 255, .7);
    font-weight: 600;
}

.winheaderactive{
    font-size: 20px;
    color: #fff;
}

.colorwinner{
    color: rgba(255, 255, 255, .7);
    font-family: 'Montserrat-Light';
    font-size: 13.7px;
}
.pricewinner1{
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 1.6em;
}
.pricewinner{
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 1.4em;
}

.winnerimg{
    border-radius: 50%;
}

.medal{
    width: 30%;
    position: absolute;
    bottom: -7%;
    right: 5%;
}

.righttopwinner{
    width: 100%;
    float: right;
    border: 1px solid #fff;
    border-radius: 3px;
    /* box-shadow: 0 0 30px 10px #54079B; */
}

.rightbetname{
    width: 1px;
    background-color:rgba(255, 255, 255, .7);
    height: 20px;
}

/* END WINNERS */

/* REGISTER IN HOME */

.bgregister{
    background-image: url("../public/image/Group33025.png");
    min-height: 1000px;
    background-size: 100% 100%;
    z-index: 0;
    position: relative;
}

.logoHregister{
    display: flex;
justify-content: center;
    margin-top: 150px;
}

.logoHregister img{
    display: block;
    max-width: 290px;
    max-height: 135px;
    width: auto;
    height: auto;
}

.passorHR{
    width: 30%;
    position: absolute;
    right: 0;
    top: -30px;
}

.passorHR img{
    width: 100%;
    height: 100%;
}

.titlehomeregister{
    color: #fff;
    font-size: 25px;
    font-family: 'Montserrat-Bold';
    margin: 30px auto;
}

.homeinput{
    background-color: transparent;
    padding:30px 20px;
}

.homeinput::placeholder{
    color: #fff;
}

.homebtnregister{
    background-color: #8300FF;
    box-shadow: 0 0 30px 1px #8300FF;
    color: #fff;
    margin:auto;
}

.homebtnregister:hover{
    color: #fff;
}

.bottomHR{
    margin: 70px auto;
}

.bottomHomeRegister{
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat-Bold';
}

/* END REGISTER IN HOME */

/* HOME COUNTDOWN */

.timercountdown{
    color: #fff;
    text-align: center;
    font-family: 'Rajdhani-Bold';
    font-size: 2.6em;
    text-shadow: 0 0 10px;
}

.divimagecoundown1{
    position: relative;
}

/* .divimagecoundown1::before{
    content: ' ';
    width: 50px;
    height: 50px;
    display: block;
    background-color: #fff;
    position: absolute;
    left: 50%;
filter: blur(30px);
} */


.imagecoundown1{
    /* height: 330px; */
    display: block;
max-width: 310px;
max-height: 330px;
width: auto;
height: auto;
margin: auto;
}
.imagecoundown2{
    /* height: 330px; */
    display: block;
    max-width: 250px;
    max-height: 330px;
    width: auto;
    height: auto;
    margin: auto;

}

/* END HOME COUNTDOWN */


/* GO TO TOP */

.gotoTopmain{
    position: fixed;
    right: 30px;
    bottom: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11133B;
    /* box-shadow: 0 0 30px 10px; */
    width: 50px;
    height: 50px;
    color: #fff;
    z-index: 1;
}

/* END GO TO TOP */



/* FOOTER */

.footerbg{
    background-image: url(../public/image/footerbg.png);
    background-size: cover;
    min-height: 600px;
    overflow-x: hidden;
    box-shadow: 0 -32px 30px 22px #171941,-15px -2px 30px 22px #171941 inset;
    font-weight: 500;
    padding-bottom: 20px;
}

.footerLogo{
    display: flex;
    justify-content: center;
}

.footerLogo img{
    display: block;
    max-width: 290px;
    max-height: 135px;
    width: auto;
    height: auto;
}

.rightfooter{
    height: 600px;
    position: absolute;
    right: -10vw;
}

.rightfooter img , 
.leftfooter img{
    height: 100%;
}

.leftfooter{
    height: 600px;
    position: absolute;
    left: -12vw;
}

.footermenu{
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Rajdhani-Light';
}

.footermenu li:first-child{
    color: #C39CE8;
    font-family: 'Rajdhani-Bold';
    margin-bottom: 20px;
}

.textbottomfooter{
    color: #fff;
    font-family: 'Rajdhani-Light';
    font-size: 1.1rem;
    text-align: justify;
    float: left;
    margin: 10px auto;
}

.footersocialmedia{
    width: 100%;
    float: left;
    display: flex;
justify-content: center;
}

.itensocialfooter{
    background-image: url(../public/image/socialFooter.png);
    background-size: cover; 
    float: left;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 60px;
    min-height: 60px;
}

.itensocialfooter img{
    width: 30px;
}

.footersocialmedia > span:nth-child(3) > .itensocialfooter img{
    margin-left: -6px;
}

.footersocialmedia > span:last-child > .itensocialfooter img{
    width: 15px;
}

/* END FOOTER */
